@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .animation-delay-8000 {
        animation-delay: 8s;
    }

    .animation-delay-4000 {
        animation-delay: 4s;
    }
}


  .gradient-text {
    background: linear-gradient(to right, #c100db, #2e7fd6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .navbar {
    @apply bg-transparent fixed top-0 w-full;
    @apply z-50;
    /* background: transparent !important; */
  }
 